body{
    background-color: black;
    color: snow;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    background-color: grey;
    padding: 15px;
    align-items: center;
    justify-content:space-between;
}
.links{
    display: flex;
}
.links a{
    margin: 0px 50px;
    color: snow;
}
.mainHead{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
    margin-right: 100px;
    display: inline-block;
    margin-bottom: 150px;
}
.image img{
    border-radius: 70px;
    object-fit: cover;
    display: flex;
    justify-content: space-between;
}
.maincontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainbody{
    margin-top: 10px;
    margin-right: 100px;
    align-items: center;
}
